<footer class="footer-cds mt-4">
    <div class="footer-top">
        <div class="container py-4">
            <div class="row g-4 align-items-center">
                <div class="col-12 col-md-8">
                    <div class="text-white fw-bold fs-5">CỤC CHUYỂN ĐỔI SỐ - BỘ NÔNG NGHIỆP VÀ MÔI TRƯỜNG</div>
                    
                </div>
                <div class="col-12 col-md-4">
                    <div class="text-white fw-semibold mb-2">Liên hệ</div>
                    <ul class="list-unstyled text-white-75 m-0">
                        <li class="mb-1"><i class="fa fa-phone me-2"></i>02437548925 (HN) &nbsp;&nbsp; 02437548925 (HCM)</li>
                        <li class="mb-1"><i class="fa fa-envelope me-2"></i>cuccntt@monre.gov.vn</li>
                        <li class="mb-1"><i class="fa fa-house me-2"></i>28 Phạm Văn Đồng, quận Cầu Giấy, TP. Hà Nội</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="footer-backtop btn btn-light shadow-sm" title="Lên đầu trang">
        <i class="fa fa-arrow-up"></i>
    </a>
</footer>

<script>
    // Back to top
    document.querySelector('.footer-backtop')?.addEventListener('click', function (e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>
