@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="news-grid">
    <div class="featured-news">
        <div class="card">
            <img src="https://via.placeholder.com/800x500" class="card-img-top" alt="Featured News Image">
            <div class="card-body">
                <h5 class="card-title">Đây là tiêu đề của bài viết nổi bật nhất, thu hút sự chú ý của người đọc</h5>
                <p class="card-text">Nội dung tóm tắt cho bài viết nổi bật. Tin tức này đang rất được quan tâm và có ảnh hưởng lớn đến cộng đồng...</p>
                <a href="#" class="btn btn-dark">Đọc thêm</a>
            </div>
        </div>
    </div>
    <div class="side-news">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/200x150" class="img-fluid rounded-start" alt="Side News Image 1">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Tiêu đề bài viết phụ thứ nhất</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/200x150" class="img-fluid rounded-start" alt="Side News Image 2">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Tiêu đề bài viết phụ thứ hai</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/200x150" class="img-fluid rounded-start" alt="Side News Image 3">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title">Tiêu đề bài viết phụ thứ ba</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="mt-5 mb-3">Tin Tức Mới Nhất</h3>
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Latest News 1">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề tin mới</h5>
                <p class="card-text">Mô tả ngắn cho tin tức mới này.</p>
                <a href="#" class="btn btn-outline-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Latest News 2">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề tin mới</h5>
                <p class="card-text">Mô tả ngắn cho tin tức mới này.</p>
                <a href="#" class="btn btn-outline-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Latest News 3">
            <div class="card-body">
                <h5 class="card-title">Tiêu đề tin mới</h5>
                <p class="card-text">Mô tả ngắn cho tin tức mới này.</p>
                <a href="#" class="btn btn-outline-primary">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>